body {
  background-color: black;
  color: white;
  font-weight: bold;
  margin: 0;
}

button {
  border-radius: 25px;
  width: 110px;
  margin-top: 30px;
  font-weight: bold;
  background-color: palevioletred;
  color: white;
  font-size: 16px;
  border-color: black;
  border-width: 3px;
}

#screen {
  aspect-ratio: 16 / 9;
  display: grid;
  grid-template: 100% / 100%;
}

#game {
  grid-area: 1 / 1;
  display: grid;
  grid-template: 100% / 100%;
}

#game_background {
  grid-area: 1 /1;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-image: url(images/boti_bg.png);
}

#game_elements {
  grid-area: 1 / 1;
  overflow: hidden;
  position: relative;
}

#game_ui {
  position: absolute;
  top: 1vw;
  right: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: bold;
}

#start {
  grid-area: 1 / 1;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-image: url(images/boti_bg.png);
  display: grid;
  justify-content: center;
  align-content: center;
  z-index: 999;
}

#start_container {
  background-color: blueviolet;
  width: 470px;
  display: grid;
  border-radius: 25px;
  text-align: center;
}

#game_over {
  grid-area: 1 / 1;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-image: url(images/boti_bg.png);
  display: grid;
  justify-content: center;
  align-content: center;
  z-index: 999;
}

#game_over_container {
  background-color: blueviolet;
  width: 470px;
  display: grid;
  border-radius: 25px;
  text-align: center;
}

#level_complete {
  grid-area: 1 / 1;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-image: url(images/boti_bg.png);
  display: grid;
  justify-content: center;
  align-content: center;
  z-index: 999;
}

#level_complete_container {
  background-color: blueviolet;
  width: 470px;
  display: grid;
  border-radius: 25px;
  text-align: center;
}

.hidden,
#start.hidden,
#level_complete.hidden,
#game_over.hidden,
#game.hidden {
  display: none;
}


/* game elements */

#rocket_container {
  position: absolute;
  top: 0;
  /* position: 0; */
}

#rocket_sprite {
  width: 25%;
  height: auto;
  border: none;
}

.rotate_rocket {
  transform: rotate(135deg);
}

#bird_container {
  position: absolute;
    top: 0;
}

#bird_sprite {
  width: 30%;
  height: auto;
  border: none;
}


/* position classes */

.rocket_position1 {
  left: 60vw;
}

.rocket_position2 {
  left: -20vw;
}

.rocket_position3 {
  left: -15vw;
}

.rocket_position4 {
  left: -10vw;
}

.rocket_position5 {
  left: -5vw;
}

.rocket_position6 {
  left: 0vw;
}

.rocket_position7 {
  left: 5vw;
}

.rocket_position8 {
  left: 10vw;
}

.rocket_position9 {
  left: 15vw;
}

.rocket_position10 {
  left: 20vw;
}

.rocket_position11 {
  left: 25vw;
}

.rocket_position12 {
  left: 30vw;
}

.rocket_position13 {
  left: 35vw;
}

.rocket_position14 {
  left: 40vw;
}

.rocket_position15 {
  left: 45vw;
}

.rocket_position16 {
  left: 50vw;
}

.rocket_position17 {
  left: 55vw;
}

.rocket_position18 {
  left: 60vw;
}


.bird_position1 {
  left: 60vw;
}

.bird_position2 {
  left: -20vw;
}

.bird_position3 {
  left: -15vw;
}

.bird_position4 {
  left: -10vw;
}

.bird_position5 {
  left: -5vw;
}

.bird_position6 {
  left: 0vw;
}

.bird_position7 {
  left: 5vw;
}

.bird_position8 {
  left: 10vw;
}

.bird_position9 {
  left: 15vw;
}

.bird_position10 {
  left: 20vw;
}

.bird_position11 {
  left: 25vw;
}

.bird_position12 {
  left: 30vw;
}

.bird_position13 {
  left: 35vw;
}

.bird_position14 {
  left: 40vw;
}

.bird_position15 {
  left: 45vw;
}

.bird_position16 {
  left: 50vw;
}

.bird_position17 {
  left: 55vw;
}

.bird_position18 {
  left: 60vw;
}


/* animations */

.rocket_falling {
    animation-name: rocket_falling;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rocket_falling {
    0% {
        transform: translate(0, -100%);
    }

    100% {
        transform: translate(62vw, 56.25vw);
    }
}

.bird_flying {
    animation-name: bird_flying;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes bird_flying {
    0% {
        transform: translate(0, -100%);
    }

    100% {
        transform: translate(62vw, 56.25vw);
    }
}

.paused {
    animation-play-state: paused;
}

.zoom_in {
    animation-name: zoom_in;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes zoom_in {
    0% {
        transform: rotate(135deg) scale(1);
    }
    100% {
        transform: rotate(1350deg) scale(0);
    }
}

/* drag and drop and select*/
*{
  user-select: none;
}

img {
  -webkit-user-drag: none;
}