body {
  background-color: #000000;
  background-image: url(images/boti_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#misile_sprite {
  width: 4%;
  height: auto;
  position: absolute;
  bottom: 14%;
  left: 22%;
  border: none;
}

#bird_sprite {
  width: 13%;
  height: auto;
  position: absolute;
  top: 20%;
  left: 20%;
  border: none;
}
