body {
  background-color: #000000;
  background-image: url(images/boti_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#misile {
  width: 4%;
  height: auto;
  position: fixed;
  bottom: 19%;
  left: 22%;
  border: none;
}

#bird {
  width: 15%;
  height: auto;
  position: relative;
  right: 15%;
  bottom: 10%;
  border: none;
}
